html {
  /*background: url('dark-bg.jpg');*/
  background: #fff;
  height: 100%;
}
body {
  margin: 0 auto;
  padding: 0px;
  background: #fff;
  font-size: 13px;
  line-height: 18px;
  color: #333;
  width: 1000px;
  min-height: 100%;
  /*-moz-box-shadow: 0 -10px 12px #777;
  -webkit-box-shadow: 0 -10px 12px #777;*/
  border-left: solid 1px #ccc;
  border-right: solid 1px #ccc;
  clear: both;
}
#header {
  background: #0074CC;
  color: #FFF;
  height: 32px;
  position: relative;
  z-index: 8;
}
span.logo {
  font-weight: bold;
  font-size: 23px;
  position: absolute;
  text-align: left;
  left: 50%;
  margin-left: -68px;
  padding:7px;
}
span.logo a {
  color:#fff;
  text-decoration: none;
}
span.logo a:hover {
  text-decoration: none;
}
span.options {
  position: absolute;
  right: 0px;
  height: 100%;
  font-size: 11px;
  top: 0px;
}
a {
  text-decoration: none;
  outline: none;
}
span.fb-ju-ab {
  position: absolute;
  left: 0px;
  height: 100%;
  font-size: 11px;
  top: 0px;
}
span.options ul, span.fb-ju-ab ul {
  list-style: none;
  margin: 0;
  padding: 7px 0 7px 0;
}
span.options ul li, span.fb-ju-ab ul li {
  display: inline;
  text-decoration: none;
  padding: 16px 4px 9px 4px;
  margin: 0px;
  color: #fff;
  outline: none;
  cursor: pointer;
}
span.options ul li input {
  margin-top: -3px;
  padding: 2px 2px 2px 24px;
  width: 180px;
}
span.options .icon-search {
  position: absolute;
  top: 9px;
  left: 6px;
}
span.options ul li.log-out-link:hover,span.fb-ju-ab ul li:hover  {
  background: #333;
}
span.options ul li a, span.fb-ju-ab ul li a {
  color: #fff;
  text-decoration: none;
  padding: 10px 5px 10px 5px;
}
#welcome {
  padding: 10px;
  margin: 15px;
  text-align:justify;
}
span.iit {
  color: #D14836;
  font-weight: bold;
}
span.emph {
  font-size: 30px;
  margin: 5px 0 5px 0;
}
#profile {
  padding: 20px;
  clear: both;
  overflow: auto;
  border-bottom: 1px solid #eee;
  position: relative;
}
#profile td.name {
  font-weight: bold;
  color: #0074CC;
  font-size: 17px;
}
#profile td.contain-interest {
  padding: 5px 0px 5px 2px;
}
#profile span.interest {
  color: #444;
  font-size: 13px;
  font-style: italic;
  padding-right: 5px;
}
#profile span.add .interest-confirm, .interest-reject {
  cursor: pointer;
}
td.interest-elements {
  padding-right: 8px;
  font-size: 14px;
  max-width: 300px;
}
td.debate-score {
  font-size: 14px;
}
td.interest-elements-p {
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  cursor: pointer;
  vertical-align: middle;
}
td.interest-elements-p:hover {
  background-color: #e0e0e0;
}
#profile span.add {
  text-decoration: none;
  margin: 0 2px 0 2px;
  min-width: 5px;
  font-size: 20px;
  cursor: pointer;
}
#profile .pic {
  max-height: 250px;
  max-width: 250px;
  min-height: 100px;
  min-width: 100px;
  border-right: solid 1px #ccc;
  padding-right: 5px;
  margin-right: 10px;
  float: left;
}
#profile div.engage {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 0px;
  margin: 0px;
}
#profile button.usr-engage-btn {
  margin: 3px 0px 3px 0px;
  width: 135px;
}
#profile button.usr-engage-btn2, #follow {
  margin: 3px 0px 3px 0px;
  width: 90px;
}
#profile a.engage-btn {
  margin: 3px 0px 3px 0px;
  width:105px;
}
#profile ul.engage {
  list-style: none;
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 0px;
  margin: 0px;
}
#profile ul.engage li {
  display: inline;
}
#profile #debate-details {
  clear: both;
  float: left;
  overflow: auto;
  max-width: 500px;
  margin-right: 100px;
  padding: 3px 20px 0 0;
  min-height: 100px;
}
#profile span.topic {
  padding: 0 0 5px 0;
  font-size: 20px;
  text-shadow: 1px -2px 3px #eee;
  color: #333;
}
#profile span.desc {
  color: #444;
  font-size: 13px;
}
#profile .d-details {
  position: absolute;
  right: 180px;
}
#content {
  position: relative;
  padding: 20px;
  clear: both;
  display: block;
  min-height: 300px;
}
#content #yes {
  float: left;
  top: 0px;
  left: 0px;
  position: absolute;
  margin: 0px;
  width: 50%;
  border-right: 1px solid #eee;
  min-height: 300px;
}
#content #no {
  float: right;
  position: absolute;
  margin: 0px;
  top: 0px;
  right: 0px;
  width: 50%;
  min-height: 300px;
}
#content #my-debates {
  float: left;
  width: 50%;
  border-right: 1px solid #eee;
  min-height: 300px;
  margin: 0;
  top: 0px;
  position: absolute;
  margin-left: -20px;
  padding: 20px 0 0 0;
}
#content #my-updates {
  float: right;
  position: absolute;
  margin: 0;
  padding: 20px 0 0 0;
  top: 0px;
  right: 0px;
  width: 50%;
  min-height: 300px;
}
#content #comments {
  padding: 0;
  margin: 0;
}
#content #yes textarea.yes {
  /* border: 1px solid #5ba75b; */
  color: #222;
  margin: 10px 0 0 20px;
  width: 400px;
  font-size: 13px;
}
#content .comment-post-btn {
  line-height: 20px;
  margin: 10px 0 0 0;
}
#content #comment {
  padding: 0 0 10px 0;
  margin: 10px 15px 10px 20px;
  overflow: auto;
  clear: both;
  border-bottom: 1px solid #eee;
}
#content #comment .author {
  font-size: 14px;
  color: #333;
  font-weight: bold;
}
#content #comment .author img.author-pic {
  height: 25px;
  width: 25px;
  padding: 0;
  margin: 1px 5px 4px 0;
}
#content #comment .comment-data {
  font-size: 13px;
  color: #555;
  width: 100px;
}
#content #comment .votes {
  font-style: italic;
  padding: 0 5px 0 0;
  font-size: 12px;
  text-align: right;
  color: #777;
  border-right: 1px solid #ccc;
}
#content #comment .upvote, .downvote, .support-point, .rebutt-point, .delete-point {
  cursor: pointer;
}
#content #comment .support-point:hover, .rebutt-point:hover, .delete-point:hover {
  text-decoration: underline;
}
#content #no textarea.no {
  /* border: 1px solid #da4f49; */
  color: #222;
  margin: 10px 0 0 20px;
  width: 80%;
}
#content #update {
  padding: 20px 20px 20px 20px;
  margin: 0px 0px 0 0px;
  font-size: 13px;
  border-bottom: 1px solid #eee;
}
#content #update:nth-child(2) {
  margin-top: 10px;
}
#content #update:hover {
  background-color: #f5f5f5;
}
#content span.home-heading {
  padding: 20px;
  font-size: 17px;
  color: #333;
  font-weight: bold;
}
#content .debate-table {
  margin: 20px;
  width: 450px;
}
#content .debate-table thead td {
  padding-top: 0px;
  font-weight: bold;
}
#content .debate-table tbody tr td {
  max-width: 220px;
}
#content .debate-table tr {
  cursor: pointer;
}
b {
  color: #D14836;
}
#mask {
  position:absolute;
  left:0;
  top:0;
  z-index:10;
  background-color:#000;
  display:none;
}
#start-debate-form {
  background:#fff;
  display:none;
  width:390px;
  position:absolute;
  z-index:12;
  top:0px;
  left:0px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  padding: 0px;
  margin: 0px;
  border: 10px solid #333;
  overflow: auto;
}
#start-debate-form #radio, #start-debate-form #radio2 {
  text-align: center;
}
#start-debate-form #participants {
  display: none;
}
#start-debate-form #cancel-debate {
  display: none;
  top: 20px;
  right: 20px;
  position: absolute;
}
.ui-autocomplete {
	max-height: 150px;
	overflow-y: auto;
	/* prevent horizontal scrollbar */
	overflow-x: hidden;
	/* add padding to account for vertical scrollbar */
	padding-right: 20px;
}
/* IE 6 doesn't support max-height
 * we use height instead, but this forces the menu to always be this tall
 */
* html .ui-autocomplete {
	height: 100px;
}
p.emph {
  font-size: 20px;
  margin: 0px;
  text-shadow: 1px -2px 3px #ddd;
  padding: 0px 0 22px 0;
}
form {
  padding: 0px;
  margin: 0px;
}
textarea {
  resize: none;
}
#overlay {
  background:#fff;
  display:none;
  max-width:390px;
  position:absolute;
  z-index:12;
  top:0px;
  left:0px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  padding: 0;
  margin: 0;
  border: 10px solid #333;
  overflow: auto;
}
#overlay #cancel-overlay {
  bottom: 5px;
  right: 5px;
  position: absolute;
}
#overlay ul {
  list-style: none;
  padding: 20px 10px 10px 20px;
  margin: 0;
  max-height: 200px;
  overflow: auto;
}
#overlay ul li {
  display: inline;
  padding: 10px 0 10px 0;
  font-size: 14px;
  border-bottom: 1px solid #eee;
}
#overlay ul li img {
  margin: 0 10px 10px 0px;
  background-image: url('loading3.gif') no-repeat;
  height: 50px;
  width: 50px;
}
.input-xxlarge{width:340px;}
