html {
  background: url('dark-bg.jpg');
  height: 100%;
}
body {
  margin: 0 auto;
  padding: 0;
  background: #fff;
  font-size: 14px;
  line-height: 18px;
  color: #333;
  width: 1000px;
  position: relative;
  top: 50%;
  margin-top: -160px;
  border: 0.08em solid #999;
  border-radius: 4px;
  /*-moz-box-shadow: 0 -10px 12px #777;
  -webkit-box-shadow: 0 -10px 12px #777;*/
  clear: both;
}
b {
  color: #0074CC;
}
#welcome {
  padding: 10px;
  margin: 15px;
  text-align:justify;
}
span.welcome {
  font-size: 30px;
}
a {
  text-decoration: none;
  outline: none;
  color: #333;
}
#desc {
  text-align: center;
  margin: 0px;
}
ul {
  list-style: none;
  margin: 15px 0px 5px 0px;
  padding: 0;
}
ul li {
  display: inline;
  text-decoration: none;
  padding: 0px 10px 0px 10px;
  margin: 0px;
}
ul li.first, li.second {
  border-right: 1px solid #0074CC;
}
ul li a:hover {
  color:#0074CC;/*#D14836;*/
  text-decoration: underline;
}
